@import '../../../../base.scss';

//.ps-dc-title {
//    text-align: center;
//    height: 50px;
//    line-height: 50px;
//    margin: 0 10px;
//    border-bottom: 1px solid #EEEEEE;
//    @include title-style(50px,16px,600);
//}

.ps-dc-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

[nz-form] {
    width: 370px;
    margin: 0 10px;
}

:host ::ng-deep .ant-form-item {
    margin-bottom: 0;
}

:host ::ng-deep .ant-form-item-label {
    padding-bottom: 0;
}

.add-font {
    font-size: 14px;
    color: #DADADB;
}
