<app-city-link  [threeLinkData]="threeLinkData "
                [provinceLink]="province"
                [cityLink]="city"
                [areaLink]="county"
                [addressLink]="addressed"
                [ifAddress]="true"
                (outData)="outData($event)"
>
</app-city-link>
<!--<app-city-link-->
<!--[threeLinkData]="threeLinkData "-->
<!--[provinceLink]="'江苏省'"-->
<!--[cityLink]="'南京市'"-->
<!--[areaLink]="'建邺区'"-->
<!--[addressLink]="'君泰国际'"-->
<!--[ifAddress]="true"-->
<!--(outData)="outData($event)">-->
<!--</app-city-link>-->