<div style="margin: 0 10px;">
    <nz-tabset>
        <nz-tab nzTitle="试用用户">
            <div class="um-flex">
                <div>
                    <button nz-button nzType="default">新增</button>
                    <button nz-button nzType="default">编辑</button>
                    <button nz-button nzType="danger">删除</button>
                </div>
                <div>
                    <input class="filter-user" nz-input placeholder="请输入用户名称" />
                    <button nz-button nzType="primary">搜索</button>
                </div>
            </div>
        </nz-tab>
        <nz-tab nzTitle="付费用户">
            付费用户
        </nz-tab>
    </nz-tabset>
</div>
